:root{
    --primary-color: #037F8C;
    --secondary-color: #03A696;
    --tertiary-color: #F2C879;
    --quaternary-color: #F27F3D;
    --quinary-color: #F26444;
    --light-color: rgb(231, 231, 231);
    --medium-color: rgb(131, 131, 131);
    --dark-color: rgb(58, 58, 58);
}
.bg-custom {
    background: var(--primary-color);
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 27%, var(--tertiary-color) 56%, var(--quaternary-color) 81%, var(--quinary-color) 100%);
}

.navbar-brand,
.nav-link {
    color: var(--light-color);
}